nav(class="flex justify-between bg-gray-900 text-white w-screen")
  div(class="px-5 xl:px-12 py-6 flex justify-between w-full items-center")
    a(class="text-3xl font-bold font-heading", href="#") Soppy
    ul(class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12")
      li
        a(class="hover:text-gray-200", href="#") Home
      li
        a(class="hover:text-gray-200", href="#") Category
      li
        a(class="hover:text-gray-200", href="#") Collection
      li
        a(class="hover:text-gray-200", href="#") Contact Us
    div(class="hidden xl:flex items-center space-x-5 items-center")
      a(class="hover:text-gray-200 flex items-center justify-center", href="#")
        i(class="bx bx-heart text-2xl")
      a(class="hover:text-gray-200 flex items-center justify-center", href="#")
        i(class="bx bx-cart text-2xl")
      a(class="hover:text-gray-200 flex items-center justify-center", href="#")
        i(class="bx bx-user-circle text-2xl")
    div(class="flex")
      a(class="xl:hidden mr-6 flex items-center justify-center", href="#")
        i(class="bx bx-cart text-2xl")
      a(class="navbar-burger mr-12 xl:hidden flex items-center justify-center", href="#")
        i(class="bx bx-menu text-2xl")